<template>
	<div id="app">
		<section class="row">
			<div class="small-6 columns">
				<h1 class="text-center">YOU</h1>
				<div class="healthbar">
					<div class="healthbar healthbar-inner text-center"
						style="background-color: green; margin: 0; color: white;"
						:style="{width: playerHealth + '%'}">
						{{ playerHealth }}
					</div>
				</div>
			</div>
			<div class="small-6 columns">
				<h1 class="text-center">MONSTER</h1>
				<div class="healthbar">
					<div class="healthbar healthbar-inner text-center"
						style="background-color: green; margin: 0; color: white;"
						:style="{width: monsterHealth + '%'}">
						{{ monsterHealth }}
					</div>
				</div>
			</div>
		</section>
		<section class="row controls" v-if="!gameIsRunning">
			<div class="small-12 columns">
				<button id="start-game" @click="startGame">START NEW GAME</button>
			</div>
		</section>
		<section class="row controls" v-else>
			<div class="small-12 columns">
				<button id="attack" @click="attack">ATTACK</button>
				<button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
				<button id="heal" @click="heal">HEAL</button>
				<button id="give-up" @click="giveUp">GIVE UP</button>
			</div>
		</section>
		<section class="row log">
			<div class="small-12 columns">
				<ul>
					<li v-for="message in logMessages" class="db">
						{{ message }}
					</li>
				</ul>
			</div>
		</section>
	</div>
</template>

<script>
export default {
	name: 'app',
	data () {
		return {
			playerHealth: 100,
			monsterHealth: 100,
			gameIsRunning: false,
			logMessages: []
		}
	},
	methods: {
		startGame() {
			this.gameIsRunning = true
			this.playerHealth = 100
			this.monsterHealth = 100
			this.logMessages = []

			this.logMessages.unshift('Game has started!')
		},
		attack() {
			let playerDamage = Math.floor(Math.random() * 10),
				monsterDamage = Math.floor(Math.random() * 12)

			this.monsterHealth -= playerDamage
			this.playerHealth -= monsterDamage

			if (this.monsterHealth <= 0) {
				this.monsterHealth = 0
				this.logMessages.unshift("You win!")
				this.gameIsRunning = false
			} else if (this.playerHealth <= 0) {
				this.playerHealth = 0
				this.logMessages.unshift("Aw yes I won! Do the monster dance!")
				this.gameIsRunning = false
			} else {
				this.logMessages.unshift(`Player did ${playerDamage} while the monster traded a hit for ${monsterDamage}`)
			}
		},
		specialAttack() {
			let playerDamage = Math.max(Math.floor(Math.random() * 12) + 1, 33),
				monsterDamage = Math.max(Math.floor(Math.random() * 40) + 1, 15)

			this.monsterHealth -= playerDamage
			this.playerHealth -= monsterDamage

			if (this.monsterHealth <= 0) {
				this.monsterHealth = 0
				this.logMessages.unshift("You win!")
				this.gameIsRunning = false
			} else if (this.playerHealth <= 0) {
				this.playerHealth = 0
				this.logMessages.unshift("Aw yes I won! Do the monster dance!")
				this.gameIsRunning = false
			} else {
				this.logMessages.unshift(`Player did ${playerDamage} while the monster traded a hit for ${monsterDamage}`)
			}
		},
		heal() {
			let healAmount = Math.max(Math.floor(Math.random() * 20), 8)

			if (this.playerHealth + healAmount > 100) {
				this.playerHealth = 100
			} else {
				this.playerHealth += healAmount
			}

			this.playerHealth += Math.floor(Math.random() * 12) + 1

			this.logMessages.unshift(`You healed ${Math.floor(Math.random() * 12)} damage!`)
		},
		giveUp() {
			this.playerHealth = "Player ran away..."
			this.gameIsRunning = false
		}
	}
}
</script>

<style lang="scss">
	#app {
		font-family: 'Avenir', Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #2c3e50;
		margin-top: 60px;
	}

	h1, h2 {
		font-weight: normal;
	}

	ul {
		list-style-type: none;
		padding: 0;
	}

	li {
		display: inline-block;
		margin: 0 10px;
	}

	a {
		color: #42b983;
	}

	.db {
		display: block;
	}

	.text-center {
	    text-align: center;
	}

	.healthbar {
	    width: 80%;
	    height: 40px;
	    background-color: #eee;
	    margin: auto;
	    transition: width 500ms;

	    &-inner {
	    	display: flex;
	    	justify-content: center;
	    	align-items: center;
	    }
	}

	.controls, .log {
	    margin-top: 30px;
	    text-align: center;
	    padding: 10px;
	    border: 1px solid #ccc;
	    box-shadow: 0px 3px 6px #ccc;
	}

	.turn {
	    margin-top: 20px;
	    margin-bottom: 20px;
	    font-weight: bold;
	    font-size: 22px;
	}

	.log ul {
	    list-style: none;
	    font-weight: bold;
	    text-transform: uppercase;
	}

	.log ul li {
	    margin: 5px;
	}

	.log ul .player-turn {
	    color: blue;
	    background-color: #e4e8ff;
	}

	.log ul .monster-turn {
	    color: red;
	    background-color: #ffc0c1;
	}

	button {
	    font-size: 20px;
	    background-color: #eee;
	    padding: 12px;
	    box-shadow: 0 1px 1px black;
	    margin: 10px;
	}

	#start-game {
	    background-color: #aaffb0;
	}

	#start-game:hover {
	    background-color: #76ff7e;
	}

	#attack {
	    background-color: #ff7367;
	}

	#attack:hover {
	    background-color: #ff3f43;
	}

	#special-attack {
	    background-color: #ffaf4f;
	}

	#special-attack:hover {
	    background-color: #ff9a2b;
	}

	#heal {
	    background-color: #aaffb0;
	}

	#heal:hover {
	    background-color: #76ff7e;
	}

	#give-up {
	    background-color: #ffffff;
	}

	#give-up:hover {
	    background-color: #c7c7c7;
	}
</style>
